.heroMain {
  display: flex;
  // flex-direction: column;
  // gap: 10px;
  justify-content: space-between;
  align-items: center;
  //   margin: 50px;
  background: #ffffff;
  width: 100%;
  padding: 60px;
  .payment-t {
    color: #001246;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 121.687%; /* 82.747px */
  }
  .platform-t {
    margin-top: -60px;
    color: #666;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .eazy-t {
    background: linear-gradient(
      98deg,
      #60269e 1.96%,
      #03cffc 36.81%,
      #b977ff 77.81%,
      #6508c9 100.36%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 68px;
    font-style: normal;
    font-weight: 900;
    line-height: 121.687%;
  }
  .heroBtn-layout {
    display: flex;
    //   padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -350px;
    .getBtn {
      cursor: pointer;
      border-radius: 50px;
      background: #001246;
      color: rgba(255, 255, 255, 1);
      width: 200px;
      height: 51px;
      padding: 15px 50px;
      font-size: 16px;
    }
    .joinBtn {
      cursor: pointer;
      display: flex;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      border: 1px solid #001246;
    }
  }

  .heroImg {
    margin-right: 150px;
  }
}
// sign up fund payment section styling
.signFund {
//   background-color: #03cffc;
  width: 1326px;
  height: 359px;
  margin: 0 auto;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .sign {
    background: white;
    height: 369px;
    width: 442px;
    // :hover {
    //     border: #001246 2px solid;
    // }
    .sf-inside {
      background: white;
      height: 269px;
      width: 269px;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    
      > :nth-child(2) {
        color: #001246;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -30px;
      }
      > :nth-child(3) {
        height: 71px;
        color: #676767;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.188%;
        text-align: center;
        margin-top: -60px;
      }
    }
  }
  .sign:hover {
    box-shadow: 2px 11px 15px 2px rgba(51, 51, 51, 0.15), -2px -11px 15px 0px rgba(96, 38, 158, 0.15)
    };

  .fund {
    background: white ;
    height: 369px;
    width: 442px;
    // border: #001246 solid 1px;
}
.fund:hover {
box-shadow: 2px 11px 15px 2px rgba(51, 51, 51, 0.15), -2px -11px 15px 0px rgba(96, 38, 158, 0.15)
};

.fundInside {
      background: white;
      height: 269px;
      width: 269px;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      > :nth-child(2) {
        color: #001246;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -30px;
      }
      > :nth-child(3) {
        height: 71px;
        color: #676767;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.188%;
        text-align: center;
        margin-top: -60px;
      }
    }
  
  .pay {
    background: white;
    height: 369px;
    width: 442px;
    .payInside {
      background: white;
      height: 269px;
      width: 269px;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      > :nth-child(2) {
        color: #001246;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: -30px;
      }
      > :nth-child(3) {
        height: 71px;
        color: #676767;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.188%;
        text-align: center;
        margin-top: -60px;
      }
    }
  }
}
.pay:hover {
    box-shadow: 2px 11px 15px 2px rgba(51, 51, 51, 0.15), -2px -11px 15px 0px rgba(96, 38, 158, 0.15)
    };
